{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="container-fluid p-5">

    <div class="row">
        <div class="col-12">
            <h2>Mes Projets</h2>
        </div>
    </div>

    <div class="row">
        {% for projet in projets %}
        {# {% if loop.index <= 6 %} enlevé car on a maintenant la méthode findSix() #} 
            <div class="col-4 p-3">
                <div class="card bg-dark">
                    <a href="http://{{ projet.lien }}" target="_blank"><img src="{{ asset('img/projet/' ~ projet.img) }}" class="card-img-top" alt="Photo {{ projet.nom }}"></a>
                    <div class="card-body">
                        <h5 class="card-title">{{ projet.nom }}</h5>
                        <p class="card-text">{{ projet.description|u.truncate(75, '...') }}</p>
                    </div>
                    <ul class="list-group list-group-flush" >
                        <li class="list-group-item bg-dark">Lien : <a href="http://{{ projet.lien }}" target="_blank">{{ projet.lien }}</a></li>
                    </ul>
                </div>
            </div>
        {# {% endif %} #}
        {% endfor %}
    </div>

    <div class="dropdown-divider"></div>

    <div class="row">
        <div class="col-12">
            <h2>Mes Compétances</h2>
        </div>
    </div>

</div>

{% endblock %}
